{{> head }}

    <header>
        {{> navbar }}
    </header>
    <section class="container-fluid">
        <div class="row mt-5">
            <div class="col">
                <h1>Lo mejor de Marvel</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum explicabo architecto illo provident dolore similique minus animi ipsam cumque ratione, iure nobis pariatur et nulla numquam necessitatibus sequi itaque possimus?</p>
            </div>
            <div class="col p-3">
                <img class="img-thumbnail" src="./assets/img/img-marvel.jpg" alt="Lo mejor de Marvel">
            </div>
        </div>
    </section>

{{> footer }}